<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add New Category</h1>
    <form action="{{ url_for('add_category') }}" method="post">
        <label for="name">Category Name:</label>
        <input type="text" id="name" name="name"><br>
        <button type="submit">Add Category</button>
    </form>
    <ul>
        {% for category in categorys %}
            <li>
                <p> {{ category.name }} </p>
                <p> {{ category.id }} </p>
                <a href="{{ url_for('remove_category', category_id=category.id) }}"> </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Back to List</a>
</body>
</html>